:root {
  --color-main: #DFE3FC;
  --color-accent: #31313F;
  --color-highlight: #fab379;
  --border-width: 2px;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 18px;
  font-family: 'Comfortaa', cursive;
  background-color: var(--color-main);
  color: var(--color-accent);
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

.select-names input {
  background: none;
  border: none;
  border-bottom: 2px solid;
  border-radius: none;
  outline: none;
}

.select-names input:focus {
  border-color: var(--color-highlight);
}

.game {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: calc((100px + 2px * 2) * 3);
  border: var(--border-width) solid;
}

.tile {
  display: grid;
  place-items: center;
  width: 100px;
  height: 100px;
  border: var(--border-width) solid;
}

.tile svg {
  z-index: -1;
}

.results {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px 0;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  background: var(--color-accent);
  color: var(--color-main);
}

.btn-group {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 48px;
}

.btn {
  width: 200px;
  padding: 20px 40px;
  background-color: var(--color-accent);
  color: var(--color-main);
  border: none;
  border-radius: 5px;
}


.btn:hover {
  background-color: var(--color-highlight);
  color: var(--color-accent);
}

.start-btn {
  margin-right: 12px;
}

/* Utilities */
.not-visible {
  display: none;
  /* visibility: hidden; */
}
