:root {
  --font-size-md: 18px;
  --color-main: #DFE3FC;
  --color-accent: #31313F;
  --color-highlight: hsl(27, 93%, 73%);
  --border-width: 2px;
  --tile-width: 100px;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Comfortaa', cursive;
  font-size: var(--font-size-md);
  background-color: var(--color-main);
  color: var(--color-accent);
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 14px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

.game {
  margin-top: -46px;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.usernames h2 {
  margin-bottom: 16px;
}

.usernames input {
  max-width: 150px;
  margin-top: 24px;
  text-align: center;
  border-bottom: var(--border-width) solid;
}

.usernames input:focus {
  border-color: var(--color-highlight);
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  width: calc(var(--tile-width) * 3 + var(--border-width) * 2);
  border: var(--border-width) solid;
}

.tile {
  display: grid;
  place-items: center;
  width: var(--tile-width);
  height: var(--tile-width);
  border: var(--border-width) solid;
}

.tile svg {
  z-index: -1;
}

.results {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px 0;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  background: var(--color-accent);
  color: var(--color-main);
}

.options {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: calc(50% - calc((var(--tile-width) * 3 + var(--border-width) * 2)/2));
  transform: translateY(50%);
}

.btn {
  font-size: .9rem;
  text-align: center;
  width: 200px;
  padding: 20px 24px;
  background-color: var(--color-accent);
  color: var(--color-main);
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--color-highlight);
  color: var(--color-accent);
}

.start {
  margin-right: 12px;
}

/* MEDIA QUERIES */

@media (max-width: 428px){

  .options {
    bottom: 0;
  }

  .btn {
    width: 90vw;
    margin: 0 0 6px 0;
    padding: 15px 0;
    font-size: 0.75rem;
  }
}

/* Utilities */
.not-visible {
  display: none;
  /* visibility: hidden; */
}
